<h1>Here is your plot!</h1>

<p>Title:</p>
<p><%= @plot.title %></p>
<p>Setting:</p>
<p><%= @plot.setting %></p>
<p>Hero:</p>
<p><%= @plot.hero %></p>
<p>Enemy:</p>
<p><%= @plot.enemy %></p>
<p>Conflict:</p>
<p><%= @plot.conflict %></p>
<p>Climax:</p>
<p><%= @plot.climax %></p>
<p>Resolution:</p>
<p><%= @plot.resolution %></p>

<br><br>
<a href="/plots/<%= @plot.id %>/edit">Edit this plot</a>
<br>
<form method='post' action='/plots/<%= @plot.id %>'>
    <input name='_method' value='delete' type='hidden' >
    <input type='submit' value='Delete this plot'>
</form>
<br>
<a href='/plots'>See all your plots</a>
<br>
<a href='/plots/all'>See plots by other users</a>
<br>
<a href='/logout'>Logout</a>