<h1>Here is your plot!</h1>

<h3>Title:</h3>
<p><%= @plot.title %></p>
<h3>Setting:</h3>
<p><%= @plot.setting %></p>
<h3>Hero:</h3>
<p><%= @plot.hero %></p>
<h3>Enemy:</h3>
<p><%= @plot.enemy %></p>
<h3>Conflict:</h3>
<p><%= @plot.conflict %></p>
<h3>Climax:</h3>
<p><%= @plot.climax %></p>
<h3>Resolution:</h3>
<p><%= @plot.resolution %></p>

<br><br>
<a href="/plots/<%= @plot.id %>/edit">Edit this plot</a>
<br>
<form method='post' action='/plots/<%= @plot.id %>'>
    <input name='_method' value='delete' type='hidden' >
    <input type='submit' value='Delete this plot'>
</form>
<br>
<a href='/plots'>See all your plots</a>
<br>
<a href='/plots/all'>See plots by other users</a>
<br>
<a href='/logout'>Logout</a>